{% extends "cf_simple.html" %}

{% block title %}<title>CF | New Account</title>{% endblock %}

{% block title-C %}Create a New Account{% endblock %}

{% block content %}
<form action="" method="post" class="main-wrapper" >
	{% csrf_token %}
	<div id="mainbox-medium">
		{% if form.username.errors %}
			{% for error in form.username.errors %}
				<span class="error-color small-text">{{ error|escape }}</span>
			{% endfor %}
			<span class="error-color"><b>{{ form.username.label }}:</b>
		{% else %}
			<span><b>{{ form.username.label }}:</b>
		{% endif %}
		{{ form.username }} </span>
		<span class="grey-text">{{ form.username.help_text }}</span>

		{% if form.email.errors %}
			{% for error in form.email.errors %}
				<span class="error-color small-text">{{ error|escape }}</span>
			{% endfor %}
			<span class="error-color"><b>{{ form.email.label }}:</b>
		{% else %}
			<span><b>{{ form.email.label }}:</b>
		{% endif %}
		{{ form.email }}</span>
		<span class="grey-text"> Optional, but the only way to recover an account. </span>

		{% if form.password1.errors %}
			{% for error in form.password1.errors %}
				<span class="error-color small-text">{{ error|escape }}</span>
			{% endfor %}
			<span class="error-color"><b>{{ form.password1.label }}:</b>
		{% else %}
			<span><b>{{ form.password1.label }}:</b>
		{% endif %}
		{{ form.password1 }}</span>
		<span class="grey-text">
				Required.
				{{ form.password1.help_text }}
		</span>
		{% if form.password2.errors %}
			{% for error in form.password2.errors %}
				<span class="error-color small-text">{{ error|escape }}</span>
			{% endfor %}
			<span class="error-color"><b>Confirm Password: </b>
		{% else %}
			<span><b>Confirm Password: </b>
		{% endif %}
		{{ form.password2 }}</span>
		<span class="grey-text"> Required.</span>
		<input type="submit" class="btn" value="Register">
	</div>
</form>
{% endblock %}