.light-purple {background-color: rgb(72,51,72,1);}
.show {display: block;}
.topZ {z-index: 4;}
.fill {flex-grow:1;}
.mbm{mix-blend-mode: screen;}

.mini-card {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	height: 1.26rem;
	width: .9rem;
	border: .1rem dashed black;
	font-size: .5rem;
	font-weight:900;
	line-height:1.26rem;
	color: black;
}

.card-container {
	margin: 3rem auto 1rem auto;
	width: 98%;
	padding: 0;
	display: flex;
	flex-direction: column;
	align-items: center;
	list-style-type:none;
}

.card {
	position:relative;
	width:95%;
	height:7rem;
	overflow: hidden;
	border-radius: 4px;
	margin: 1rem 0rem 0rem 0rem;
	padding: 0;
}
.card::-webkit-scrollbar {display: none;} /* Hide scrollbar Chrome, Safari, Opera */

.card-default-style {
	border-width: 2px;
	border-style: solid;
	border-color: black;
	box-shadow: .2em .2em .5em #333;
	transition: all.25s;
}

.card-default-style:hover{
	box-shadow: .4em .4em .5em #333;
}


img.banner{
	position: absolute;
	height:100%;
	width:100%;
	object-fit: cover;
	object-position: 115px -20px;
	border-radius: 4px;
}

.overlay-container{
	width:100%;
	height:100%;
	display:inline-flex;
	align-items: center;
	background-color: white;
	border-radius:20px 0px 0px 20px;
}
.card-left {
	width:15rem;
	height:100%;
	padding:.5rem;
	border-style: none outset none none;
	font-weight:900;
}

ul.forge-list{
	list-style-type:none;
	margin: .5rem 0rem 0rem 0rem; 
	padding-left: .5rem;
	font-size: 12px;
	font-weight:300;
}

.forge-name{
	font-family: 'Atomic Age';
	text-align: center;
	font-size: 6rem;
	font-weight: 900;
	flex:1;
	color: black;
	background-color: rgb(255,255,255,.7);
	z-index: 1;
}

.xbtn {
	position: absolute;
	top:0;
	right:0;
	border-width: 0px;
	font-size: 16px;
	background-color: transparent;
	border-radius: 2px;
	z-index: 2;
	color: black;
	margin-right: .125rem;
}


.card-new {
	position: relative;
	outline: 2px dashed black;
	outline-offset: -5px;
	border-width: 0px;
	transition: transform 1s;
	line-height:7rem;
	font-size: 4rem;
	padding-left: 4rem;
}

.card-new:active {
	transform: scale(.25);
}

.card-new:hover {
	outline: 2px dashed rgb(72,51,72,1);
	color: rgb(72,51,72,1);
	cursor: pointer;
}