{% extends "cf_generic.html" %}
{% load static %}

{% block head-add %}
	<link rel="stylesheet" href="{% static 'cf_core/new_perk.css' %}">
{% endblock %}

{% block sub-header %}{{ user.get_username }}{% endblock %}

{% block title-C %}{{ page_title }}{% endblock %}

{% block nav-right %}
	<!-- Error Button -->
	{% if perk_form.errors %}
		<div id="error-wrap" class="nav-btn-wrapper">
			<div class="nav-btn error-color noselect">
				<i class="fas fa-exclamation-triangle"></i>
			</div>
		</div>
	{% else %}
		<div id="error-wrap" class="nav-btn-wrapper">
			<div class="nav-btn grey-text noselect">
				<i class="fas fa-exclamation-triangle"></i>
			</div>
		</div>
	{% endif %}
	<!-- Save Button -->
	<div id='save-wrap' class="nav-btn-wrapper alt-hover" onclick="document.getElementById('all-forms').submit();">
		<div id ='save' class="nav-btn noselect">
			<i class="fas fa-check"></i>
		</div>
	</div>
	<!-- Exit Button -->
	<a href="javascript:history.go(-1)" class="xbtn-wrapper red-hover">
		<div class="xbtn">
			<i class="fas fa-times"></i>
		</div>
	</a>
{% endblock %}

{% block content %}
<form method = "post" enctype="multipart/form-data" id="all-forms" class="multi-main-wrapper">
	{% csrf_token %}
	<!-- Perk Input Form -->
	<div id="mainbox-card" class="main-wrapper">
			{{ debug }}
			{{ perk_form.non_field_errors }}
			<div class="center">
				<div id="domain_input"> 
					<b>{{ perk_form.domain.label }}:</b> {{ perk_form.domain }} <div class="plusbtn noselect" onclick="toggleDomainInput()"><i class="fas fa-plus"></i></div>
				</div>
				<div id="alt_domain_input" class="noshow"> 
					<b>{{ perk_form.domain.label }}:</b> {{ domain_form.name }} <div class="plusbtn noselect" onclick="toggleDomainInput()"><i class="fas fa-times"></i></div>
				</div>
				<div class="error-text"> {{ perk_form.domain.errors.as_text|cut:"* " }} </div>
				<div class="fill"></div>
				<div><b>{{ perk_form.cost.label }}: </b>{{ perk_form.cost }}</div>
				<div class="error-text"> {{ perk_form.cost.errors.as_text|cut:"* " }} </div>
			</div>
			<div>
				<b>{{ perk_form.name.label }}: </b>{{ perk_form.name }} 
				<span class="error-text"> {{ perk_form.name.errors.as_text|cut:"* " }} </span>
			</div>
			<hr>
			<div>
				<b>{{ perk_form.description.label }}</b> 
				 <span class="error-text"> {{ perk_form.description.errors.as_text|cut:"* " }} </span>
				{{ perk_form.description }}
			</div>
			<div class="noselect">
				<b>New Addon</b> 
				<div class="plusbtn noselect" onclick="showAddon()">
					<i class="fas fa-plus"></i>
				</div>
			</div>
			<div>
				<b>{{ perk_form.background.label }}:</b> {{ perk_form.background}}
				<span class="error-text"> {{ perk_form.background.errors.as_text|cut:"* " }} </span>
			</div>
			<div>
				<div class="center-text"><b>Prerequisites</b></div>
				<div class="center">
					<div class="center-text prereq-box">Perks 
						<div class="error-text"> {{ perk_form.prereq_perks.errors.as_text|cut:"* " }} </div> 
						{{ perk_form.prereq_perks }} 
						<p class="small-text grey-text">Press 'Ctrl' to select multiple options</p>
					</div>
					<div class="fill"></div>
					<div class="center-text prereq-box">Addons 
						<div class="error-text"> {{ perk_form.prereq_addons.errors.as_text|cut:"* " }} </div> 
						{{ perk_form.prereq_addons }} 
						<p class="small-text grey-text">Press 'Ctrl' to select multiple options</p>
					</div>
				</div>
			</div>
			<div class="center">
				<div class="source-box flex-start center-text">
					<b>{{ perk_form.source.label }}</b>
					<p class="error-text"> {{ perk_form.source.errors.as_text|cut:"* " }} </p>
					<div id="source_input"> 
						{{ perk_form.source }} <div class="plusbtn noselect" onclick="toggleSourceInput()"><i class="fas fa-plus"></i></div>
					</div>
					<div id="alt_source_input" class="noshow"> 
						<div>{{ source_form.name }}</div>
						<div>
							{{ source_form.url_wikipedia }}
							<span class="plusbtn noselect" onclick="toggleSourceInput()"><i class="fas fa-times"></i></span>
						</div>
					</div>
				</div>
				<div class="fill"></div>
				<div class="url-box flex-end center-text">
					<b>Perk Links</b>
					<p class="error-text"> {{ perk_form.url_wikipedia.errors.as_text|cut:"* " }} </p>
					{{ perk_form.url_wikipedia }}
					<p class="error-text"> {{ perk_form.url_youtube.errors.as_text|cut:"* " }} </p>
					{{ perk_form.url_youtube }}
				</div>
			</div>
	</div>
	<div id="mid-gap" class="noshow"></div>
	<!-- Addon Input Forms -->
	<div id="addon-wrapper" class="main-wrapper noshow">
		<!-- Top Navigation -->
		<div id="addon-nav" class="center noshow">
			{% for form, checklist, checkedlist in addon_form_list %}
				<div id="addon-box-btn-{{ forloop.counter0 }}" class="addon-number noselect" onclick="setTop('{{ forloop.counter0 }}');">{{ forloop.counter }}</div>
			{% endfor %}
		</div>
		<!-- Actual Addon Forms -->
		{% for form, checklist, checkedlist in addon_form_list %}
			<div id="addon-box-{{ forloop.counter0 }}" class="addon-box">
				<div class="center">
					<div> <b>Addon #{{ forloop.counter }} Name: </b>{{ form.name }}</div>
					<div class="error-text"> {{ form.name.errors.as_text|cut:"* " }} </div>
					<div class="fill"></div>
					<div> <b>{{ form.cost.label }}: </b>{{ form.cost }} </div>
					<div class="error-text"> {{ form.cost.errors.as_text|cut:"* " }} </div>
				</div>
				<div>
					<b>{{ form.description.label }}</b>
					<span class="error-text"> {{ form.description.errors.as_text|cut:"* " }} </span>
					{{ form.description }}
				</div>
				<div class="center-text"><b>Prerequisites</b></div>
				<div class="self-prereq-wrapper">
				{% for val in checklist %}
					{% if val|stringformat:"i" in checkedlist %}
						<label><input type="checkbox" name="self_prereqs_for_addon_{{ forloop.parentloop.counter0 }}" value={{ val }} checked>{{ val|add:1 }}</label>
					{% else %}
						<label><input type="checkbox" name="self_prereqs_for_addon_{{ forloop.parentloop.counter0 }}" value={{ val }}>{{ val|add:1 }}</label>
					{% endif %}
				{% endfor %}
				</div>
				<div class="center">
					<div class="center-text prereq-box">Perks
						<div class="error-text"> {{ form.prereq_perks.errors.as_text|cut:"* " }} </div> 
						{{ form.prereq_perks }} 
						<p class="small-text grey-text">Press 'Ctrl' to select multiple options</p>
					</div>
					<div class="fill"></div>
					<div class="center-text prereq-box">Addons
						<div class="error-text"> {{ form.prereq_addons.errors.as_text|cut:"* " }} </div> 
						{{ form.prereq_addons }}
						<p class="small-text grey-text">Press 'Ctrl' to select multiple options</p>
					</div>
				</div>
				<div class="addon-bottom-fill"></div>
			</div>
		{% endfor %}
	</div>
</div>
</form>
{% endblock %}

{% block scripts %}
	<script>
		var i = 0;
		var topBox = document.getElementById("addon-box-0");
		var topBtn = document.getElementById("addon-box-btn-0");
		function showAddon() {
			if (i==0){
				document.getElementById("mainbox-card").style.maxWidth = "calc(50vw - 1rem)";
				document.getElementById("mid-gap").classList.remove('noshow');
				document.getElementById("addon-wrapper").classList.remove('noshow');
				document.getElementById("addon-nav").classList.remove('noshow');
			}
			if (i<{{ addon_limit }}){
				topBtn.classList.remove('addon-number-clicked');
				topBox.style.display = 'none';
				topBox = document.getElementById("addon-box-"+i);
				topBtn = document.getElementById("addon-box-btn-"+i);
				topBtn.style.display = 'block';
				topBox.style.display = 'flex';
				topBtn.classList.add('addon-number-clicked');
				if (i>0){
					document.getElementById("addon-box-btn-"+(i-1)).classList.remove('clip-topright');
				}
				topBtn.classList.add('clip-topright');
				i++;
			}
		}
		for (j = 0; j <= {{ last_addon_index }}; j++) {
			showAddon();
		}
		function setTop(x) {
			topBtn.classList.remove('addon-number-clicked');
			topBox.style.display = 'none';
			topBox = document.getElementById("addon-box-"+x);
			topBtn = document.getElementById("addon-box-btn-"+x);
			topBtn.classList.add('addon-number-clicked');
			topBox.style.display = 'flex';
		}
	</script>
	<script>
		var normal_domain = document.getElementById("domain_input");
		var alt_domain = document.getElementById("alt_domain_input");
		var alt_domain_input = document.getElementById("id_domain_form-name");
		function toggleDomainInput(){
			normal_domain.classList.toggle('noshow');
			alt_domain.classList.toggle('noshow');
			alt_domain_input.value = '';
		}
		if (!document.getElementById('id_perk_form-domain').value && document.getElementById('id_domain_form-name').value){
			toggleDomainInput();
		}
	</script>
	<script>
		var normal_source = document.getElementById("source_input");
		var alt_source = document.getElementById("alt_source_input");
		var alt_source_input = document.getElementById("id_source_form-name");
		var alt_source_input_url = document.getElementById("id_source_form-url_wikipedia");
		function toggleSourceInput(){
			normal_source.classList.toggle('noshow');
			alt_source.classList.toggle('noshow');
			alt_source_input.value = '';
			alt_source_input_url.value = '';
		}
		if (!document.getElementById('id_perk_form-domain').value && document.getElementById('id_source_form-name').value){
			toggleSourceInput();
		}
	</script>
{% endblock %}